.dog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 390px;
  width: 250px;
  border-radius: 13px;
  padding: 10px;
  margin: 8px;
  background-color: rgb(245, 245, 242);
  color: white;
  cursor: pointer;
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.dog-card-body{
  text-align: center;
  padding: 20px;
}

.dog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.dog-name {
  margin: 3px auto;
  color: black;
}

.dog-image {
  margin-top: 16%;
  width: 249px;
  max-height: 190px;
  object-fit: cover;
  border-radius: 1px;
}

.dog-name {
  font-size: 1.5rem;
color: black;
}

.dog-info {
margin-top: 3%;
 justify-content: space-between;
 flex-direction: column;
  color: black;
}

.dog-fav {
  border: 2px soliod rgb(229, 14, 21);
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 220px;
}

.heart {
  color: rgb(229, 14, 21);
  font-size: 24px;
  background: transparent;
  border: none;
  margin-top: -1%;
  cursor: pointer;
}


